{{!-- <meta property='og:title' content='{{meta_title}}' />
<meta property='og:description' content='{{meta_description}}' />
<meta property='og:type' content='website' />
<meta property='og:site_name' content='{{@blog.title}}' />
<meta property='og:url' content='{{@blog.url}}{{url}}' />
<meta property='og:image' content='{{@blog.cover}}' />
<meta name='twitter:title' content='{{meta_title}}' />
<meta name='twitter:description' content='{{meta_description}}' />
<meta name='twitter:url' content='{{@blog.url}}{{url}}' /> --}}

<meta property='og:url' content='https://www.pethut.net' />
<meta property='og:type' content='website' />
<meta property='og:title' content='PetHut' />
<meta property='og:site_name' content='Pet Hut' />
<meta property='og:locale' content='en_GB' />
<meta
  property='og:description'
  content='PetHut is an advanced tracker for all pet needs consolidated in a single place. Implemented with professional capabilities, allows pet-industry workers to keep track of customer appointments directly conecting with their agendas.'
/>
<meta
  property='og:image'
  content='https://www.pethut.net/images/screepcap.png'
/>
<title>PetHut</title>