<main>
  <h1>{{name}}'s profile</h1>
  <section class='profile-section dashboard-component'>
    <div class='profile-picture-wrapper'>
      <div class='profile-circle'>
        <img src='{{profilePicture}}' alt='{{name}} profile picture' />
        <div class='camera-wrapper'><a href=""><img src="/images/camera-icon.svg" alt=""></s></a></div>
      </div>
    </div>
    <div class='profile-info'>
      <div><strong>Name: </strong><span>{{name}}</span></div>
      <div><strong>Birthday: </strong><span>
          {{#if birthday}}
            {{birthday}}
          {{else}}
            Not set
          {{/if}}
        </span></div>
      <div><strong>Species: </strong><span>{{species}}</span></div>
    </div>
  </section>
  <fieldset class='dashboard-component'>
    <legend class='component-title'>Medical</legend>
  </fieldset>
  <fieldset class='dashboard-component'>
    <legend class='component-title'>Nutrition</legend>

  </fieldset>
  <div id='calendar' class='dashboard-component'></div>
  <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
  <script src='/scripts/calendar-api.js'></script>
  <script src='/scripts/calendarjs.js'></script>
  <script src='/scripts/calendar-options.js'></script>
</main>