<main>
  <h1>{{pet.name}}'s profile</h1>
  <section class='profile-section dashboard-component'>
    <div class='profile-picture-wrapper'>
      <div>
        <div class='camera-wrapper'><img
            src='/images/camera-icon.svg'
            alt=''
          /></div>
        <div class='profile-circle'>
          <img
            class='profile-pic'
            src='{{pet.profilePicture}}'
            alt='{{pet.name}} profile picture'
          />
          <form
            class='upload-picture-form'
            method='POST'
            style='display: none'
            action='/pet/upload-picture/{{pet._id}}'
            enctype='multipart/form-data'
          >
            <input
              class='upload-profile-picture'
              name='profilePicture'
              type='file'
              accept='image/*'
            />
            <button></button>
          </form>
        </div>
      </div>
    </div>
    <form
      class='profile-info'
      id='profile-details-form'
      action='/pet/edit/details'
      method='POST'
    >
      <div class='profile-field'><strong>Name:</strong><span
          class='profile-value'
          name='name'
          type='text'
        >{{pet.name}}</span></div>
      <div class='profile-field'><strong>Birthday:</strong>{{#if
          pet.birthday
        }}<span
            class='profile-value'
            name='birthday'
            type='date'
          >{{pet.birthday}}</span>
        {{else}}<span class='profile-value' name='birthday' type='date'>Not set</span>
        {{/if}}
      </div>
      <div class='profile-field'><strong>Species:</strong><span
          class='profile-value'
          name='species'
          type='select'
        >{{pet.species}}</span></div>
      <div class='profile-field'><strong>Owner:</strong><span
          class='profile-value'
          name='species'
          type='select'
        >{{#ifEquals user._id pet.owner._id}}You{{/ifEquals}}{{#ifNotEquals
            user._id
            pet.owner._id
          }}{{pet.owner.firstName}}
            {{pet.owner.lastName}}{{/ifNotEquals}}
        </span></div>
      <input type='text' class='d-none' name='id' value={{pet._id}} />
    </form>
    <fieldset class='dashboard-component authorized'>
      <legend id='authorized-users' class='component-title'>Authorized users</legend>
      <div id='authorized-users-list'>
        <div id='users'>
          <div class='pet-wrapper-summary'>
            {{#each pet.authorized}}
              <div class='miniature-wrapper'>
                <!-- <a href=''> -->
                <div class='miniature-image-holder'>
                  {{#if profilePicture}}
                    <img src='{{this.profilePicture}}' alt='profile picture' />
                  {{else}}
                    <img src='/images/default-profile-picture.png' alt='' />
                  {{/if}}
                </div>
                <h5>{{this.username}}</h5>
                <!-- </a> -->
              </div>
            {{/each}}
          </div>
        </div>
        <div id='add-auth-user-button'>+</div>
      </div>
      <div class='collapsible'>
        <div class='collapsible-content'>
          <form method='POST' action='/message/authorize/{{pet._id}}'>
            <label for='authorization-type'>Type</label>
            <select name='type' id='auhtorization-type'>
              <option value='Pet Access Invitation'>Authorize access</option>
              <option value='Ownership Transfer Request'>Transfer ownership</option>
            </select>
            <label for='user-search-input'>Search username</label>
            <input
              id='user-search-input'
              name='username'
              list='users-list'
              type='text'
              autocomplete='off'
            />
            <label for='note'>Note:</label>
            <textarea id='message-note' name='note' type='text'></textarea>
            <datalist id='users-list'>
            </datalist>
            <button>Send</button>
          </form>
        </div>
      </div>
    </fieldset>
    <div
      class='edit-wrapper top-level'
      style='width: fit-content; height:fit-content; display: relative'
    >
      <div id='edit-details-btn'><img src='/images/pencil.svg' alt='' /></div>
      <div class='d-none' id='edit-details-save'><img
          src='/images/checkmark.svg'
          alt=''
        /></div>
      <div class='d-none' id='edit-details-discard'><img
          src='/images/xmark.svg'
          alt=''
        /></div>
    </div>
  </section>

  <fieldset class='dashboard-component'>
    <legend class='component-title'>Medical</legend>
    <form
      class='profile-info'
      id='profile-medical-form'
      action='/pet/edit/medical'
      method='POST'
    >
      <div class='profile-field'><strong>Medical Id:</strong><span
          class='profile-value'
          name='medicalId'
          type='text'
        >{{#if pet.medical.medicalId}}
            {{pet.medical.medicalId}}
          {{else}}
            Not set
          {{/if}}</span>
      </div>

      <div class='profile-field'><strong>Alergies: </strong><span>
          {{#if pet.alergies}}
            <span class='profile-value'>{{pet.alergies}}</span>
          {{else}}
            <span class='profile-value'>None</span>
          {{/if}}</span></div>
      <div class='profile-field'><strong>Veterinarian: </strong><span
          class='profile-value'
          name='veterinarian'
          type='text'
        {{#if pet.medical.veterinarian}}
          value={{pet.medical.veterinarian._id}}
        {{/if}}
        >
          {{#if pet.medical.veterinarian}}
            {{pet.medical.veterinarian.firstName}}
            {{pet.medical.veterinarian.lastName}}
          {{else}}Not set
          {{/if}}
        </span></div>
      <input type='text' class='d-none' name='id' value={{pet._id}} />
    </form>
    <div
      class='edit-wrapper'
      style='width: fit-content; height:fit-content; display: relative'
    >
      <div id='edit-medical-btn'><img src='/images/pencil.svg' alt='' /></div>
      <div class='d-none' id='edit-medical-save'><img
          src='/images/checkmark.svg'
          alt=''
        /></div>
      <div class='d-none' id='edit-medical-discard'><img
          src='/images/xmark.svg'
          alt=''
        /></div>
    </div>

  </fieldset>
  <fieldset class='dashboard-component'>
    <legend class='component-title'>Nutrition</legend>
    <form
      class='profile-info'
      id='profile-nutrition-form'
      action='/pet/edit/nutrition'
      method='POST'
    >
      <div class='profile-field'><strong>Food Brand: </strong><span>Hardcoded
          Meat Superbrand
          {{!-- {{pet.foodBrand}} --}}
        </span></div>
      <div class='profile-field'><strong>Size: </strong><span>5 kg</span></div>
      <div class='profile-field'><strong>Last purchase: </strong><span
        >05/07/2021</span></div>
      <div class='profile-field'><strong>Daily Serving:</strong><span>
          {{#if pet.serving}}
            {{pet.serving}}
          {{else}}
            0
          {{/if}}g
        </span></div>
      <input type='text' class='d-none' name='id' value={{pet._id}} />
    </form>
    <div
      class='edit-wrapper'
      style='width: fit-content; height:fit-content; display: relative'
    >
      <div id='edit-nutrition-btn'><img src='/images/pencil.svg' alt='' /></div>
      <div class='d-none' id='edit-nutrition-save'><img
          src='/images/checkmark.svg'
          alt=''
        /></div>
      <div class='d-none' id='edit-nutrition-discard'><img
          src='/images/xmark.svg'
          alt=''
        /></div>
    </div>
  </fieldset>
  <div id='calendar' class='dashboard-component'></div>
  {{#ifEquals user.id pet.owner.id}}
    <form action='/pet/delete/{{pet._id}}' method='POST'>
    <button>Delete pet</button>
  </form>
  {{/ifEquals}}
</main>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src='/scripts/calendar-api.js'></script>
<script src='/scripts/calendarjs.js'></script>
<script src='/scripts/calendar-options.js'></script>
<script src='/scripts/pet-profile-edit.js'></script>
<script src='/scripts/user-authorization.js'></script>
<script>
  const events =
  {{{json events}}}; calendarInstance.setEvents(events);
</script>