<main>
  <h1>{{pet.name}}'s profile</h1>
  <section class='profile-section dashboard-component'>
    <div class='profile-picture-wrapper'>
      <div class='profile-circle'>
        <img
          class='profile-pic'
          src='{{pet.profilePicture}}'
          alt='{{pet.name}} profile picture'
        />
        <form
          class='upload-picture-form'
          method='POST'
          style='display: none'
          action='/pet/upload-picture/{{pet._id}}'
          enctype='multipart/form-data'
        >
          <input
            class='upload-profile-picture'
            name='profilePicture'
            type='file'
            accept='image/*'
          />
          <button></button>
        </form>
        <div class='camera-wrapper'><img
            src='/images/camera-icon.svg'
            alt=''
          /></div>
      </div>
    </div>
    <div class='profile-info'>
      <div><strong>Name: </strong><span>{{pet.name}}</span></div>
      <div><strong>Birthday: </strong><span>
          {{#if pet.birthday}}
            {{pet.birthday}}
          {{else}}
            Not set
          {{/if}}
        </span></div>
      <div><strong>Species: </strong><span>{{pet.species}}</span></div>
    </div>
  </section>
  <fieldset class='dashboard-component'>
    <legend class='component-title'>Medical</legend>
  </fieldset>
  <fieldset class='dashboard-component'>
    <legend class='component-title'>Nutrition</legend>

  </fieldset>
  <div id='calendar' class='dashboard-component'></div>
  <!-- Placeholder form for testing user search feature -->
  <form>
    <input type='text' oninput='searchUser(this.value)' />
  </form>
</main>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src='/scripts/calendar-api.js'></script>
<script src='/scripts/calendarjs.js'></script>
<script src='/scripts/calendar-options.js'></script>
<script>
  const events =
  {{{json events}}}; calendarInstance.setEvents(events);
</script>