<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href='/'>Home</a>
      {{#if user}}
        <div id='menu-toggle'>
          <div id='input-wrap'>
            <input id='side-menu-input' class='' type='checkbox' />
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul id='sidebar-menu' class='sidebar-no-show'>
            <div id='user-introduction'>
              <img
                id='user-profile-picture'
                src='{{user.profilePicture}}'
                alt='{{user.name}}'
              />
              <p>{{user.name}}</p>
            </div>
            <a href='/'>Home</a>
            <a href='/user-profile'>My Profile</a>
            <a href='/user-profile/settings'>Settings</a>
            <form action='/authentication/sign-out' method='POST'>
              <button>Sign Out</button>
            </form>
          </ul>
        </div>
      {{else}}
        <a href='/authentication/sign-in'>Sign In</a>
      {{/if}}
    </nav>
    {{{body}}}
    <script src='/scripts/script.js'></script>
  </body>
</html>