<h1>Messages</h1>
<ul>
  {{#each messages}}
    <li id={{id}} class='user-message'>
      <div class='collapsible'>
        <div>
          <span class='message-from'><strong
            >{{from.username}}</strong></span><br />
          <span class='message-type'>{{type}}</span>
        </div>
        <div>
          {{date sent}}
        </div>
      </div>
      <div class='collapsible-content'>
        <p>Pet: {{pet.name}}</p>
        {{#if confirmed}}
          <p>Status: {{status}}</p>
        {{else}}
          <p>Note:</p>
          <p>{{note}}</p>
          <div class='message-buttons'>
            <form
              class='confirm'
              method='POST'
              action='/message/respond/{{id}}'
            >
              <button
                name='accept'
                value='Accepted'
                class='accept-button'
              >Accept</button>
              <button
                name='decline'
                value='Declined'
                class='decline-button'
              >Decline</button>
            </form>
          </div>
        {{/if}}
        <form method='POST' action='/message/delete/{{id}}'>
          <button class='delete-message'>Delete</button>
        </form>
      </div>
    </li>
  {{/each}}
</ul>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>