<h1>Messages</h1>
<ul>
  {{#each messages}}
    <li class='user-message'>
      <p>{{type}}</p>
      <p>From: {{from.username}} at {{sentAt}}</p>
      {{#if confirmed}}
        <p>Status: {{status}}</p>
      {{else}}
        <div id='message-buttons'>
          <form id='confirm' method='POST' action='/message/respond/{{_id}}'>
            <button
              name='confirm'
              value='Confirmed'
              id='confirm-button'
            >Confirm</button>
            <button
              name='decline'
              value='Declined'
              id='decline-button'
            >Decline</button>
          </form>
        </div>
      {{/if}}
    </li>
  {{/each}}
</ul>