<h1>Messages</h1>
<div id='message-toolbar'>
  <input type='checkbox' id='check-all-messages' />
  <form id='delete-messages' method='POST' action='/message/delete'>
    <input id='msgdata' name='messages' hidden />
    <button id='delete-all-messages'>Delete</button>
  </form>
</div>
<ul>
  {{#each messages}}
    <li id={{id}} class='message-wrapper'>
      <div class='checkbox-wrapper'>
        <input type='checkbox' class='check-message' />
      </div>
      <div class='user-message'>
        <div id={{id}} class='collapsible'>
          <div>
            <span class='message-from'><strong
              >{{from.username}}</strong></span><br />
            <span class='message-type'>{{type}}</span>
          </div>
          <div>
            {{date sent}}
          </div>
        </div>
        <div class='collapsible-content'>
          <p>Pet: {{pet.name}}</p>
          {{#if confirmed}}
            <p>Status: {{status}}</p>
          {{else}}
            <p>Note:</p>
            <p>{{note}}</p>
            <div class='message-buttons'>
              <form
                class='confirm'
                method='POST'
                action='/message/respond/{{id}}'
              >
                <button
                  name='accept'
                  value='Accepted'
                  class='accept-button'
                >Accept</button>
                <button
                  name='decline'
                  value='Declined'
                  class='decline-button'
                >Decline</button>
              </form>
            </div>
          {{/if}}
          <form method='POST' action='/message/delete/{{id}}'>
            <button class='delete-message'>Delete</button>
          </form>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>