<h1>User Profile</h1>
<section class='profile-section dashboard-component'>
  <div class='profile-picture-wrapper'>
    <div>
      <div class='camera-wrapper'><img
          src='/images/camera-icon.svg'
          alt=''
        /></div>
      <div class='profile-circle'>
        <img
          src='{{user.profilePicture}}'
          alt='{{user.username}} profile picture'
        />
        <form
          class='upload-picture-form'
          method='POST'
          style='display: none'
          action='/user/upload-picture'
          enctype='multipart/form-data'
        >
          <input
            class='upload-profile-picture'
            name='profilePicture'
            type='file'
            accept='image/*'
          />
        </form>
      </div>

    </div>
  </div>
  <form id='form-user-profile' action='/user/edit' method='POST'>
    <div class='profile-field'><strong>First Name:</strong>
      <span name='firstName' class='profile-value'>{{user.firstName}}</span>
    </div>
    <div class='profile-field'><strong>Last Name:</strong>
      <span name='lastName' class='profile-value'>{{user.lastName}}</span>
    </div>
    <div class='profile-field'><strong>Username:</strong>
      <span name='username' class='profile-value'>{{user.username}}</span>
    </div>
    <div class='profile-field'><strong>Email:</strong>
      <span name='email' class='profile-value'>{{user.email}}</span>
    </div>
  </form>
  <div
    class='edit-wrapper top-level'
    style='width: fit-content; height:fit-content; display: relative'
  >
    <div id='edit-profile-icon'><img src='/images/pencil.svg' alt='' /></div>
    <div class='d-none' id='edit-profile-save'><img
        src='/images/checkmark.svg'
        alt=''
      /></div>
    <div class='d-none' id='edit-profile-discard'><img
        src='/images/xmark.svg'
        alt=''
      /></div>
  </div>
</section>
<fieldset class='dashboard-component {{#if user.type}}dashboard-component-prof{{/if}}'>
  <legend class='component-title'>Settings</legend>
  <div class='profile-info' id='settings-inputs'>
    {{#if user.type}}SOMETHING ELSE
    {{else}}
    <div class='profile-field'><strong>Event colors:</strong></div>
    <form
      id='event-color-form'
      method='POST'
      action='/settings/update/eventcolors'
    >
      <div>
        <span>Vet Appointment</span>
        <label><input
            class='event-color'
            type='color'
            id='vet-appointment-color'
            name='vetAppointmentColor'
            value='#000000'
          /></label>
      </div>
      <div>
        <span>Grooming</span>
        <label><input
            class='event-color'
            type='color'
            id='grooming-color'
            name='groomingColor'
            value='#000000'
          /></label>
      </div>
      <div>
        <span>Supplies</span>
        <label><input
            class='event-color'
            type='color'
            id='supplies-color'
            name='suppliesColor'
            value='#000000'
          /></label>
      </div>
      <div>
        <span>Other</span>
        <label><input
            class='event-color'
            type='color'
            id='other-color'
            name='otherColor'
            value='#000000'
          /></label>
      </div>
    </form>
    {{/if}}
    
    <div class='profile-field'><strong>xxxxx:</strong></div>
  </div>
  <div
    class='edit-wrapper'
    style='width: fit-content; height:fit-content; display: relative'
  >
    <div id='edit-settings-btn'><img src='/images/pencil.svg' alt='' /></div>
    <div class='d-none' id='edit-settings-save'><img
        src='/images/checkmark.svg'
        alt=''
      /></div>
    <div class='d-none' id='edit-settings-discard'><img
        src='/images/xmark.svg'
        alt=''
      /></div>
  </div>
</fieldset>
<script src='/scripts/edit-profile.js'></script>
<script src='/scripts/edit-user-settings.js'></script>