<h1 {{#if user.type}}class='professional-header'{{/if}}>User Profile</h1>
<section class='profile-section dashboard-component{{#if user.type}}-prof{{/if}}'>
  <div class='profile-picture-wrapper'>
    <div>
      <div class='camera-wrapper'><img
          src='/images/camera-icon.svg'
          alt=''
        /></div>
      <div class='profile-circle profile-picture-wrapper'>
        <img
          src='{{user.profilePicture}}'
          alt='{{user.username}} profile picture'
          class='profile-pic'
        />
        <form
          class='upload-picture-form'
          method='POST'
          style='display: none'
          {{#if user.type}}
          action='/professional/upload-picture'
          {{else}}
          action='/user/upload-picture'
          {{/if}}
          enctype='multipart/form-data'
        >
          <input
            class='upload-profile-picture'
            name='profilePicture'
            type='file'
            accept='image/*'
          />
        </form>
      </div>

    </div>
  </div>
  <form id='form-user-profile' action='/user/edit' method='POST'>
    <input type='text' name='userType' value='{{user.type}}' hidden>
    <div class='profile-field'><strong>First Name:</strong>
      <span name='firstName' class='profile-value'>{{user.firstName}}</span>
    </div>
    <div class='profile-field'><strong>Last Name:</strong>
      <span name='lastName' class='profile-value'>{{user.lastName}}</span>
    </div>
    <div class='profile-field'><strong>Username:</strong>
      <span name='username' class='profile-value'>{{user.username}}</span>
    </div>
    <div class='profile-field'><strong>Email:</strong>
      <span name='email' class='profile-value'>{{user.email}}</span>
    </div>
  </form>
  <div
    class='edit-wrapper top-level'
    style='width: fit-content; height:fit-content; display: relative'
  >
    <div id='edit-profile-icon'><img src='/images/pencil.svg' alt='' /></div>
    <div class='d-none' id='edit-profile-save'><img
        src='/images/checkmark.svg'
        alt=''
      /></div>
    <div class='d-none' id='edit-profile-discard'><img
        src='/images/xmark.svg'
        alt=''
      /></div>
  </div>
</section>
<fieldset class='dashboard-component {{#if user.type}}dashboard-component-prof{{/if}}'>
  <legend class='component-title'>Settings</legend>
  <div class='profile-info' id='settings-inputs'>
    {{!-- {{#if user.type}}SOMETHING ELSE
    {{else}} --}}
    <div class='profile-field'><strong>Event colors:</strong></div>
    <form
      id='event-color-form'
      method='POST'
      action='/settings/update/eventcolors'
    >
      <div>
        <div class='profile-field'><span class='color-type'>Appointment: </span>
        <label><input
            class='event-color'
            type='color'
            id='vet-appointment-color'
            name='vetappointment'
            {{#if userSettings.eventColors.vetappointment}}
            value='{{userSettings.eventColors.vetappointment}}'
            {{else}}
            value='#484848'
            {{/if}}
          /></label></div>
      </div>
      <div>
        <div class='profile-field'><span class='color-type'>Grooming:</span>
        <label><input
            class='event-color'
            type='color'
            id='grooming-color'
            name='grooming'
            {{#if userSettings.eventColors.grooming}}
            value='{{userSettings.eventColors.grooming}}'
            {{else}}
            value='#484848'
            {{/if}}
          /></label></div>
      </div>
      <div>
        <div class='profile-field'><span class='color-type'>Supplies</span>
        <label><input
            class='event-color'
            type='color'
            id='supplies-color'
            name='supplies'
            {{#if userSettings.eventColors.supplies}}
            value='{{userSettings.eventColors.supplies}}'
            {{else}}
            value='#484848'
            {{/if}}
          /></label>
        </div>
      </div>
      <div>
        <div class='profile-field'><span class='color-type'>Other:</span>
        <label class='profile-value'><input
            class='event-color'
            type='color'
            id='other-color'
            name='other'
            {{#if userSettings.eventColors.other}}
            value='{{userSettings.eventColors.other}}'
            {{else}}
            value='#484848'
            {{/if}}
          /></label>
          </div>
      </div>
    </form>
    {{!-- {{/if}} --}}
    
    <div class='profile-field'><strong>xxxxx:</strong></div>
  </div>
  <div
    class='edit-wrapper'
    style='width: fit-content; height:fit-content; display: relative'
  >
    <div id='edit-settings-btn'><img src='/images/pencil.svg' alt='' /></div>
    <div class='d-none' id='edit-settings-save'><img
        src='/images/checkmark.svg'
        alt=''
      /></div>
    <div class='d-none' id='edit-settings-discard'><img
        src='/images/xmark.svg'
        alt=''
      /></div>
  </div>
</fieldset>
<script src='/scripts/edit-profile.js'></script>
<script src='/scripts/edit-user-settings.js'></script>